@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lexend-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lexend-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Lexend-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lexend-Bold.ttf") format("truetype");
}
